<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <link rel="stylesheet" href="../../../dist/styles.css" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>test</title>
    </head>
    <body ng-cloak ng-controller="AppCtrl">
        <div class="buttons">
            <button id="getSelectedArr" ng-click="listModel.getSelectedArr()">获取选中项</button>
            <span>: {{listModel.getSelectedArr()}}</span>
            <button id="refresh" ng-click="reload()">刷新</button>
        </div>

        <tab-bar tab="tab"></tab-bar>

        <div><input type="checkbox" name="all" ng-click="selectAll()" ng-model="listModel.isSelectedAll">全选</div>

        <item list-model="listModel"></item>

        <pager list-model="listModel" reload="reload()"></pager>
    </body>
    <script src="../../../dist/js/bundle.js"></script>
</html>